# Sequesce types

Python knows a number of compound data types used to group together other values. There are three basic sequence types: `range`, `tuples`, and `lists` objects. Out of those, lists are mutable sequences while tuples and ranges are immutable sequences.
Additional sequence types tailored for processing of binary and text strings (str) also exist.

Sequences are `iterable` objects. This is: an object capable of returning its members one at a time.

## Common Sequence Operations

The operations in the following table are supported by most sequence types, both mutable and immutable.

| Operation | Result |
|:-|:-|
| x `in` s |True if an item of s is equal to x, else False      | 
| x not in s |False if an item of s is equal to x, else True      |
| s + t |the concatenation of s and t                        |
| s * n or n * s |equivalent to adding s to itself n times|
| s[1] |ith item of s, origin 0|
| s[i:j]|slice of s from i to j |
| s[i:j:k] |slice of s from i to j with step k|
| len(s)|length of s |
| min(s)|smallest item of s |
| max(s)|largest item of s |
| s.index(x[, i[, j]]) | index of the first occurrence of x in s (at or after index i and before index j) |
| s.count(x) | total number of occurrences of x in s |

## Ranges

The range type represents an immutable sequence of numbers. Ranges can be created using the range construction function:

* range(stop)
* range(start, stop[, step])

Some sequence types (such as range) only support item sequences that follow specific patterns, and hence donâ€™t support sequence concatenation or repetition.

In [8]:
zero_to_4 = range(5)
zero_to_4[0], zero_to_4[1], zero_to_4[2], zero_to_4[3], zero_to_4[4]

(0, 1, 2, 3, 4)

In [20]:
min(r)

1

In [21]:
max(r)

3

In [17]:
r = range(1, 5, 2)
2 in r

False

In [10]:
r[0], r[1]

(1, 3)

## Tuples

Tuples are immutable sequences that can be constructed in a number of ways:

* Using a pair of parentheses to denote the empty tuple: ()

* Using a trailing comma for a singleton tuple: a, or (a,)

* Separating items with commas: a, b, c or (a, b, c)

* Using the tuple() built-in: tuple() or tuple(iterable)

Elements in a tuple can be of any type.

In [88]:
t = 1, 2, 3, 'a'
t

(1, 2, 3, 'a')

In [90]:
a, b, c, d = t
a, b, c, d

(1, 2, 3, 'a')

In [13]:
t[::]

(1, 2, 3, 'a')

In [14]:
# create a tuple from an iterable (a range)
tuple(r)

(1, 3)

In [5]:
t = (1, 2) + (3, 'a')
t

(1, 2, 3, 'a')

Even when lists and tuples can contain values of different data types, this comes with a price and should be used with caution, see the next example:

In [6]:
# determining the minimum value implies comparing elements, str and int are not comparable, hence the error
min(t)

TypeError: '<' not supported between instances of 'str' and 'int'

## Lists

Lists may be constructed in several ways. 


* Using a pair of square brackets to denote the empty list: []

* Using square brackets, separating items with commas: [a], [a, b, c]

* Using a list comprehension: [x for x in iterable]

* Using the type constructor: list() or list(iterable)


Elements in a list can be of any type.

In [11]:
l = [1, 2, 3, 'a']
l

[1, 2, 3, 'a']

In [13]:
l[2:]

[3, 'a']

### List comprenhension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
The syntax is as follows:

`newlist = [expression for item in iterable if condition]`

In [7]:
# given a list of fruits 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# create a new list with the ones that contains 'a' in its name
a_fruits = [f for f in fruits if 'a' in f]

a_fruits

['apple', 'banana', 'mango']

In [28]:
#given a list of numbers
ns = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# create a list containing even numbers in ns to the power of 2
evens_powered = [n**2 for n in ns if n % 2 == 0]

evens_powered

[0, 4, 16, 36, 64]

## Mutable sequence operations

The operations in the following table are defined on mutable sequence types.

| Operation | Result |
|:-|:-|
| s[i] = x | item i of s is replaced by x | 
| s[i:j] = t | slice of s from i to j is replaced by the contents of the iterable t |
| del s[i:j] | same as s[i:j] = [] | 
| s[i:j:k] = t | the elements of s[i:j:k] are replaced by those of t |
| del s[i:j:k] | removes the elements of s[i:j:k] from the list |
| s.append(x) | appends x to the end of the sequence (same as s[len(s):len(s)] = [x]) |
| s.clear() | removes all items from s (same as del s[:]) |
| s.copy() | creates a shallow copy of s (same as s[:]) |
| s.extend(t) or s += t | extends s with the contents of t (for the most part the same as s[len(s):len(s)] = t) |
| s \*= n | updates s with its contents repeated n times |
| s.insert(i, x) | inserts x into s at the index given by i (same as s[i:i] = [x]) |
| s.pop() or s.pop(i) | retrieves the item at i and also removes it from s |
| s.remove(x) | remove the first item from s where s[i] is equal to x |
| s.reverse() | reverses the items of s in place |

In [34]:
lists = [[]] * 3
lists

[[], [], []]

Note that items in the sequence s are not copied; they are referenced multiple times. Consider:

In [35]:
lists[0].append(3)
lists

[[3], [3], [3]]

What has happened is that `[[]]` is a one-element list containing an empty list, so all three elements of `[[]] * 3` are references to this single empty list. Modifying any of the elements of lists modifies this single list. You can create a list of different lists this way:

In [37]:
lists = [[] for i in range(3)]
lists[0].append(3)
lists[1].append(5)
lists[2].append(7)
lists

[[3], [5], [7]]

In [38]:
lists += [[9], [11]]
lists

[[3], [5], [7], [9], [11]]

Given a list with the numbers from 1 to 10, modify list so that the odd numbers are the replaces to its power of 2

In [41]:
# l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l = [i for i in range(1, 11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
l[::2]

[1, 3, 5, 7, 9]

In [44]:
l[::2] = [i**2 for i in l if i % 2 != 0]
l

[1, 2, 9, 4, 25, 6, 49, 8, 81, 10]

In [31]:
id(l), id(l[::-1])

(140469323930688, 140469323681600)

In [34]:
l = [9, 7, 1, 3, 5, 10, 2, 8, 4, 6]
l.sort()
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [154]:
l = [9, 7, 1, 3, 5, 10, 2, 8, 4, 6]
sorted(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [155]:
l

[9, 7, 1, 3, 5, 10, 2, 8, 4, 6]

In [77]:
fruits = ["apple", "mango", "papaya", "pineapple", "kiwi"]

In [79]:
[f.upper() for f in fruits]

['APPLE', 'MANGO', 'PAPAYA', 'PINEAPPLE', 'KIWI']

In [81]:
[f[0].upper() + f[1:] for f in fruits]

['Apple', 'Mango', 'Papaya', 'Pineapple', 'Kiwi']

In [106]:
list(enumerate([f[0].upper() + f[1:] for f in fruits]))

[(0, 'Apple'), (1, 'Mango'), (2, 'Papaya'), (3, 'Pineapple'), (4, 'Kiwi')]

In [123]:
fruit_prices = ("3", "8", "7.5", "6", "4.5")
list(zip(fruits, fruit_prices))

[('apple', '3'),
 ('mango', '8'),
 ('papaya', '7.5'),
 ('pineapple', '6'),
 ('kiwi', '4.5')]

## Sets

Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Sets can be created by several means:

* Use a comma-separated list of elements within braces: {'jack', 'sjoerd'}

* Use a set comprehension: {c for c in 'abracadabra' if c not in 'abc'}

* Use the type constructor: set(), set('foobar'), set(['a', 'b', 'foo'])


| Operation | Result |
|:-|:-|
| s.issubset(other) or  set <= other | Test whether every element in the set is in other. |
|  set < other | Test whether the set is a proper subset of other, that is, set <= other and set != other. |
|  issuperset(other) or set >= other | Test whether every element in other is in the set. | 
|  set > other | Test whether the set is a proper superset of other, that is, set >= other and set != other. |
|  union(\*others) or set \| other \| ... | Return a new set with elements from the set and all others. |
|  intersection(\*others) or set & other & ... | Return a new set with elements common to the set and all others. |
|  difference(\*others) or set - other - ... | Return a new set with elements in the set that are not in the others. |
|  symmetric_difference(other) or set ^ other | Return a new set with elements in either the set or other but not both. |
|  update(\*others) or set \|= other \| ... | Update the set, adding elements from all others. |
|  intersection_update(\*others) or set &= other & ... | Update the set, keeping only elements found in it and all others. |
| difference_update(\*others) or set -= other \| ... | Update the set, removing elements found in others. |
|  symmetric_difference_update(other) or set ^= other | Update the set, keeping only elements found in either set, but not in both. |

In [58]:
{c for c in 'abracadabra' if c not in 'abc'}

{'d', 'r'}

Not recommended subtitute of the above example, included just to ilustrate converting list to sets to avoid duplicity:

In [63]:
[c for c in 'abracadabra' if c not in 'abc']

['r', 'd', 'r']

In [64]:
set([c for c in 'abracadabra' if c not in 'abc'])

{'d', 'r'}

In [72]:
odds = {1, 3, 5, 7, 9}
naturals = {0, 9, 7, 1, 3, 5, 10, 2, 8, 4, 6}

In [73]:
odds <= naturals, odds.issubset(naturals)

(True, True)

In [74]:
naturals >= odds, naturals.issuperset(odds)

(True, True)

In [75]:
odds | naturals, odds.union(naturals), naturals.union(odds)

({0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10},
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10},
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [76]:
odds & naturals

{1, 3, 5, 7, 9}

In [158]:
set(sorted(naturals))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Dictionaries

Another useful data type built into Python is the dictionary. Dictionaries are sometimes found in other languages as "Maps", "associative memories" or "associative arrays". Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You canâ€™t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

It is best to think of a dictionary as a set of `key: value` pairs, with the requirement that the keys are unique (within one dictionary). 

Dictionaries can be created by several means:

* A pair of braces creates an empty dictionary: {}

* Use a comma-separated list of key: value pairs within braces: {'jack': 4098, 'sjoerd': 4127} or {4098: 'jack', 4127: 'sjoerd'}

* Use a dict comprehension: {}, {x: x ** 2 for x in range(10)}

* Use the type constructor: dict(), dict([('foo', 100), ('bar', 200)]), dict(foo=100, bar=200)

In [139]:
a = dict(one=1, two=2, three=3)

b = {'one': 1, 'two': 2, 'three': 3}

c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))

d = dict([('two', 2), ('one', 1), ('three', 3)])

e = dict({'three': 3, 'one': 1, 'two': 2})

f = dict({'one': 1, 'three': 3}, two=2)

a == b == c == d == e == f

True

Retrieving a list of all the values in a dictionary:

In [140]:
list(a)

['one', 'two', 'three']

In [141]:
len(a)

3

Accessing a value using its key:

In [142]:
a['one'], a.get('one')

(1, 1)

Checking if a dictionary contains a key:

In [143]:
'one' in a

True

Associate in a dictionary each number form 1 to 10 as a key with its power of 2 as value:

In [144]:
{x: x**2 for x in range(0, 11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [145]:
dict(zip(fruits, fruit_prices))

{'apple': '3', 'mango': '8', 'papaya': '7.5', 'pineapple': '6', 'kiwi': '4.5'}

Dictionaries are mutables, assigning to an unexisting key will add that key:value pair:

In [149]:
a['one'] = 'uno'
a['four'] = 4
a

{'one': 'uno', 'two': 2, 'three': 3, 'four': 4}

In [150]:
del a['four']
a

{'one': 'uno', 'two': 2, 'three': 3}

Iterator over dict keys:

In [161]:
b.keys()

dict_keys(['one', 'two', 'three'])

Iterator over dict values:

In [162]:
b.values()

dict_values([1, 2, 3])

Iterator over dict pairs or items:

In [163]:
b.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])