# Data Model

All data in Python is represented by objects, even code. Every object has an identity, a type and a value. 


## Identity

Once created, the object's identity never changes. Two objects are the `same` object if they have the same identity. The `is` operator compares the identity of two objects; the `id()` function returns an integer representing its identity

In [17]:
id(1)

139955308554544

In [20]:
y = 1
id(y)

139955308554544

In [21]:
x = 1
y = 1
x is y

True

## Type

An object's type determines the operations that the object supports (e.g., "does it has a length?") and also define possible values for objects of that type. The `type()` function can be used to retrieve object's type. Just like identity, an object's type is also unchangeable.
An object's data type is set when a value is assigned to the object, this is called `initialize` the object. No object can be created `uninitialized`.

In [22]:
type(x)

int

In [23]:
type_of_x = type(x)
type(type_of_x)

type

## Value

The value of some objects can change. Objects whose value can change are said to be [mutable](https://docs.python.org/3.11/glossary.html#term-mutable); objects whose value is unchangeable once they are created are called [immutable](https://docs.python.org/3.11/glossary.html#term-immutable).

In [1]:
a = 1
id(a)

140342323177776

In [2]:
a = "1"
id(a)

140342313052720

In [46]:
# try to access an undefined variable rises an error
z

NameError: name 'z' is not defined

Objects that needs to be created before its value is known can be assigned with `None`. This is possible yet usually considered a bad practice.

In [47]:
n = None
type(n)

NoneType

In [48]:
type(None)

NoneType

# Built-in Data Types

## Numbers

There are three distinct numeric types: `integers`, `floating point numbers`, and `complex` numbers. In addition, `Booleans` are a subtype of integers.
Python supports other types of numbers, such as [Decimal](https://docs.python.org/3.10/library/decimal.html#decimal.Decimal) and [Fraction](https://docs.python.org/3.10/library/fractions.html#fractions.Fraction).

In [30]:
2 + 2

4

In [31]:
50 - 5*6

20

In [32]:
(50 - 5*6)/4

5.0

In [33]:
type(5.0)

float

In [35]:
# classic division returns a float
17 / 3

5.666666666666667

In [36]:
# floor division discards the fractional part
17 // 3

5

In [39]:
# the % operator returns the reminder of the division
17 % 3

2

In [40]:
# floored quotient * divisor + remainder
5 * 3 + 2

17

In [21]:
# divmod(x, y) calculates the pair (x // y, x % y)
divmod(17, 3)

(5, 2)

With Python, is possible to use the `**` operator to calculate powers:

In [41]:
# 5 squared
5 ** 2

25

In [42]:
# 2 to the power of 7
2 ** 7

128

In [20]:
# pow(x, y) calculates x to the power of y. x ** y
pow(2, 7)

128

The equal sign `=` is used to assign a value to a variable:

In [43]:
width = 20
height = 45
width * height

900

There is full support for floating point; operators with mixed type operands convert the integer operand to floating point:

In [4]:
4 * 3.75 - 1

14.0

In [17]:
# `abs(x) function calculates the absolute value or magnitude of x
abs(-10/5)

2.0

Numerical objects can be initialized using desired type constructor function:

In [18]:
x = 20
y = int(20)
type(x), type(y)

(int, int)

In [19]:
# object construction can be used to convert between data types
int(2.0)

2

In [14]:
x = 20.0
y = float(20.0)
type(x), type(y)

(float, float)

In [21]:
2 < 5, 2 <= 5, 2 == 5

(True, True, False)

What about infinity?

In [23]:
1/0

ZeroDivisionError: division by zero

In [30]:
infinity = float('inf')
infinity

inf

In [31]:
type(infinity)

float

In [32]:
infinity + 1

inf

## Booleans

Python `bool` type is used to represent objects that can only take either `True` or `False` constant values.  
These are the Boolean operations ordered by ascending priority. 
Given the Boolean objects `x` and `y`:

x `or` y, Rersult x if x is true, else y. This is a short-circuit operator, so it only evaluates the second argument if the first one is false.

x `and` y, Result x if x is false, else y. This is a short-circuit operator, so it only evaluates the second argument if the first one is true.

`not` x, Result `True` if x is false, else `False`

In [64]:
x = True
y = False

In [65]:
x or y

True

In [66]:
x and y

False

In [67]:
not x

False

## Strings

Besides numbers, Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes `'...'` or double quotes `"..."` with the same result. `\` can be used to escape quotes.
Python strings cannot be changed -they are immutable.

In [22]:
'spam eggs'

'spam eggs'

In [23]:
'doesn\'t'

"doesn't"

In [25]:
"doesn't"

"doesn't"

In [26]:
'"Isn\'t", they said'

'"Isn\'t", they said'

In [32]:
# \n -> new line
# \t -> tab
s = 'First line.\n\tSecond line'
print(s)

First line.
	Second line

If you don’t want characters prefaced by `\` to be interpreted as special characters, you can use `raw strings` by adding an `r` before the first quote.
There is one subtle aspect to raw strings: a raw string may not end in an odd number of `\` characters; see the [FAQ entry](https://docs.python.org/3.10/faq/programming.html#faq-programming-raw-string-backslash) for more information and workarounds.

In [33]:
print('C:\some\name')

C:\some
ame

In [34]:
print(r'C:\some\name')

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: `"""..."""` or `'''...'''`. End of lines are automatically included in the string, but it’s possible to prevent this by adding a \ at the end of the line (note that the initial newline is not included)

In [2]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

The built-in function `len(x)` returns the length of the string `x`:

In [60]:
s = 'supercalifragilisticexpialidocious'

len(s)

34

String objects can also be created using the `str(x)`. This is useful to retrieve objects represented as a string.

In [1]:
str(1)

'1'

Strings can be concatenated (glued together) with the `+` operator, and repeated with the `*` operator:

In [38]:
# 3 times 'un', followed by 'ium'

3 * 'un' + 'ium'

'unununium'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated. This feature is particularly useful when you want to break long strings:

In [44]:
'Py' 'thon'

'Python'

In [43]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

This only works with two literals though, not with variables or expressions. If you want to concatenate variables or a variable and a literal, use `+`.

In [45]:
prefix = 'Py'
prefix 'thon'

SyntaxError: invalid syntax (2247375812.py, line 2)

Strings can be indexed (subscripted), with the first character having index 0. 
There is no separate character type; a character is simply a string of size one.
Individual charactes can be indexed with positive numbers starting from the left and with negative numbers starting from the right. Note that since -0 is the same as 0, negative indices start from -1.

`
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   
-6  -5  -4  -3  -2  -1
`

In [8]:
word = 'Python'

In [49]:
word[0], word[-6]

('P', 'P')

In [52]:
word[5], word[-1]

('n', 'n')

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring. Slices can be created, given a string object `a`, a slice is defined as `a[start:stop]` if any start or both are not provided, then the string's start or end is assumed:

In [11]:
word[:2]

'Py'

In [54]:
# characters from position 4 (included) to the end
word[4:]

'on'

In [13]:
word[:]

'Python'

Note how the start is always included, and the end always excluded. This makes sure that `s[:i] + s[i:]` is always equal to `s`:

In [55]:
word[:2] + word[2:]

'Python'

In [56]:
word[:4] + word[4:]

'Python'

Attempting to use an index that is too large will result in an error:

In [57]:
word[42]

IndexError: string index out of range

However, out of range slice indexes are handled gracefully when used for slicing:

In [58]:
word[4:42]

'on'

In [61]:
word[42:]

''

There is also the step value, which can be used, when not provided, as in the previous examples, then 1 us assumed:

In [14]:
word[::1]

'Python'

In [15]:
word[::]

'Python'

In [16]:
word[::2]

'Pto'

Step parameter can also be negative:

In [17]:
word[::-1]

'nohtyP'

In [19]:
s = "kayak"
s, s[::-1], s == s[::-1]

('kayak', 'kayak', True)

Since strings in Python are immutable, assigning to an indexed position in the string results in an error:

In [62]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

If different string is needed, a new one shall be created:

In [63]:
'J' + word[1:]

'Jython'